<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Background</key>
	<string>FFFFFF</string>
	<key>StartButton</key>
	<string>FC6E51</string>
	<key>AlternativeButton</key>
	<string>FFFFFF</string>
	<key>AlternativeButtonWrong</key>
	<string>FF8080</string>
	<key>AlternativeButtonCorrect</key>
	<string>ADD166</string>
	<key>NextTaskButton</key>
	<string>8CC152</string>
	<key>RestartButton</key>
	<string>FC6E51</string>
	<key>SkipButtonTitle</key>
	<string>5D9CEC</string>
	<key>White</key>
	<string>FFFFFF</string>
	<key>Black</key>
	<string>333333</string>
	<key>Gray</key>
	<string>DDDDDD</string>
	<key>ButtonBorder</key>
	<string>CCCCCC</string>
</dict>
</plist>
